<div id='page_wrapper'>
	<div id="profile_image">
		<%= image_tag 'profile.jpeg' %>
	</div>

	<div id="content">
		<h1>Its Mister X</h1>
		<p>Meh fingerstache asymmetrical, disrupt pinterest hoodie banjo jean shorts truffaut +1 shabby chic freegan tumblr chicharrones. Church-key plaid art party, intelligentsia dreamcatcher chambray fixie direct trade. Venmo biodiesel lo-fi, taxidermy brunch sriracha cliche cardigan salvia. Irony green juice fashion axe ramps. Chartreuse marfa keffiyeh pour-over. Banh mi aesthetic stumptown butcher YOLO. Ethical hella lomo, bitters locavore austin iPhone +1 mumblecore taxidermy polaroid.</p>
	</div>
</div>